*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1F2023;
    font-family: poppins;
}


/**************** HEADER *******************/

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: rgba(31, 32, 35, 0.5);
    
}
.header-container:hover{
    background-color: rgba(31, 32, 35, 0.9);
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    z-index: 1;
}
.logo-container img{
    width: 4.5rem;
    margin-left: 2rem;
}

.navbar-container{
    width: 65%;
    height: 100%;
}

.navbar-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.navbar-list-links{
    list-style: none;
    font-size: 1.1rem;
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
}
.navbar-list .navbar-list-links > a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

.menu-vertical > li{
    list-style: none;
}
.menu-vertical > li > a{
    text-decoration: none;
    color: white;
    padding: 0.5;
    font-size: 0.8rem;
}
.navbar-list .navbar-list-links > a:hover{
    background-color: #AA436F;
    border-radius: 0.5rem;
}

.menu-vertical{
    position: absolute;
    padding: 0;
    width: max-content;
    top: 100%;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    background-color: rgba(31, 32, 35, 0.9);
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.menu-vertical > li > a:hover{
    color: #EBAE45;

}

.nav-icon-5{
    width: 35px;
    height: 30px;
    margin: 0 1.5rem ;
    position: relative;
    cursor: pointer;
    display: inline-block;
    z-index: 2;
    display: none;
}
.nav-icon-5 span{
    background-color: white;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
}
.nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
}
.nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
}

.nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
}
.nav-icon-5.open span:nth-child(2){
    opacity:0;
}
.nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
} 


/*-------------------------------------------- */
/*------------------ HERO--------------------- */
/*-------------------------------------------- */


.hero-container{
    width: 100%;
    height: 100vh;
    background-image: url("./assets/images/gradient.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}


/* codigo para estilos del fondo del hero */
.bg1{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #1F2023;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    top: 0;
}
.bg2{
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100vh;
    background-color: #1F2023;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}
.bg3{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100vh;
    background-color: #1F2023;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}
.bg4{
    position: absolute;
    top: 75%;
    width: 100%;
    height: 100vh;
    background-color: #1F2023;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}

/* ---------------------------------------------------------- */

.padding-container{
    padding-top: 5rem;
    /* height: 100vh; */
}
.padding-container-row{
    height: 100%;
    position: relative;
}
.main-title-container{
    display: flex;
    z-index: 2;
    width: 90%;

}
.main-title{
    color: white;
    font-size: 5rem;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 1rem;
    line-height: 1;
}
.second-title-container{
    margin-top: 2rem;
    margin-left: 1rem;
    color: white;
    z-index: 2;
    width: 65%;
}
.second-title{
    font-size: 1.8rem;
}


/* codigo para estilos del cartel que sube y baja */
.stairs-big-container{
    color: white;
    margin-left: 1rem;
    margin-top: 3rem;
}
.stairs-flex{
    display: flex;
    align-items: center;
}
.stairs-flex-2{
    display: flex;
    align-items: center;
}
.stairs-small-container{
    background-color: #24144C;
    /* margin: 0 0.3rem; */
    padding: 0.5rem;
    width: 120px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;
}
.stairs-list{
    margin: 0;
    padding: 0;
    text-align: center;
}
.stairs{
    color: white;
    list-style: none;
    margin-bottom: 0.7rem;
}

/* ----------------boton del main------------- */
.main-button{
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
.main-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
.main-button:hover {
    color: #e8e8e8;
}
.main-button:hover::before {
    width: 100%;
}
/* --------------------------------------------------------------- */

/* ----codigo de estilo de las ondas de fondo-------------- */
.onda{
    width: 60rem;
    position: absolute;
    right: -30%;
    top: 0;
}
.waves{
    position: absolute;
    width: 60rem;
    left: -30%;
}

/* ------------------------------------------------------ */
/* ---------------- SECTION 2----------------------------- */
/* ------------------------------------------------------ */

.section2{
    margin-top: 4rem;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 5rem;
}

.our-services{
    color: white;
    font-weight: bolder;
    margin-top: 2rem;
}
.our-services h2{
    font-size: 5rem;
}
.row-services{
    width: 80%;
    margin-top: 5rem;
    /* margin: auto;
    display: flex;
    justify-content: center; */
}
.col-services{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.card-cont{
    background-image: url("./assets/images/cardbg.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    opacity: 0.7;
}
.card-cont:hover{
    opacity: 1;
}
.cards{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    /* opacity: 0.5; */

}
/* .card-cont:hover{
    opacity: 1;
} */
.img-box{
    /* margin-left: 2rem; */
    position: relative;
    width: 150px;
    height: 150px;
    
}
.card-cont .cards .content .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.content-box{
    display: flex;
    flex-direction: column;
    
}
.content-box h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    /* margin: 20px 0 10px; */
    line-height: 1.1em;
}
.content-box span{
    text-transform: initial;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}
.see-more-button{
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: rgba(235, 174, 69, 0.8);
    border: none;
    /* opacity: 0.5; */
    color: white;
    /* font-weight: bold; */
    /* margin-top: 0.2rem; */
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

/* ------------------------------------------------------ */
/* ----------------SECTION 3----------------------------- */
/* ------------------------------------------------------ */

.section3{
    overflow: hidden;
    /* margin-top: 3rem; */
    height: 80vh;
    display: flex;
    align-items: flex-end;
}
.infinit-words-container{
    width: 200%;
    display: flex;
    justify-content: space-between;
    /* width: 600%; */
    align-items: center;
}
.infinit-words{
    display: flex;
    justify-content: space-between;
    width: 200%;
    color: white;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: -0.3rem;
    line-height: .85;
}





.infinit-words-container2{
    position: relative;
    width: 200%;
    height: 30vh;
    display: flex;
    justify-content: center;
}
.infinit-words2{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200%;
    color: white;
    font-size: 6rem;
    letter-spacing: -0.3rem;
    line-height: .85;

}


/* ------------------------------------------------------ */
/* ---------------SECTION 4----------------------------- */
/* ------------------------------------------------------ */


.section4{
    /* overflow: hidden; */
    width: 100%;
}
.horizontal-scroll {
    /* width: 100vw;
    height: 100vh; */
    overflow: hidden;
}
.horizontal-scroll-container {
    width: 300%;
    /* height: 100%; */
    display: flex;
    /* overflow: hidden; */
    flex-wrap: nowrap;
}
.horizontal-brand{
    width: 100%;
    height: 100vh;
    padding: 0;
}

.study{
    font-size: 10rem ;
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-weight: bold;

}
.cases{
    font-weight: bold;
    font-size: 10rem ;
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
}

/* ----------------- BLACKBIRD ----------------------- */

.brand1{
    position: relative;
    background-color: #EBAE45;
}

.row-container-brand1{
    height: 100%;
    margin: 0;
}
.col-container-brand1{
    margin-top: 6rem;
    padding: 0;
}
.col-container-brand1 h2{
    font-size: 5rem;
    color: white;
    padding: 0 1rem;
}
.col-container-brand1 p{
    font-size: 0.8rem;
    padding: 0 1rem;

}


.color-palette{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-palette h3{
    color: white;
}
.color-brand1-container1{
    display: flex;
    justify-content: center;
}

.cbc1{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    margin-left: 1rem;
}
.color-brand1-black{
    background-color: black;
    color: white;
}
.color-brand1-dark-grey{
    background-color: #545050;
    color: white;
}
.color-brand1-light-grey{
    background-color: #b7b4b4;
}
.color-brand1-white{
    background-color: #ffffff;    
}
.color-brand1-gold{
    background-color: #efb810;    
}
.color-brand1-container1 p{
    margin: 0;
    font-size: 0.6rem;
}
.col-container-content1{
    background-color: rgba(0, 0, 0, 0.2);
    /* padding: 0; */
}
.row-logo-blackbird-container{
    margin-top: 6rem;

}
.logo-blackbird-container{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-blackbird-black{
    width: 10rem;
}
.logo-blackbird-white{
    width: 10rem;
}
.logo-blackbird-title{
    background-color: rgba(0, 0, 0, 0.2);
    /* padding: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-blackbird-title span{
    color: white;
    font-size: 2rem;
}












.brand2{
    background-color: #24144C;
}
.brand3{
    background-color: #AA436F;
}


















/* ------------------------------------------------------ */
/* ---------------SECTION 5----------------------------- */
/* ------------------------------------------------------ */


.section5{
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    background-image: url("./assets/images/gradient.png");
    position: relative;
    background-position: center;
    background-size: cover;
}
.vertical1{
    position: absolute;
    background-color: #1F2023;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.vertical2{
    position: absolute;
    background-color: #1F2023;
    width: 100%;
    height: 100%;
    top: 0;
    left: 14.3%;
}
.vertical3{
    position: absolute;
    background-color: #1F2023;
    width: 100%;
    height: 100%;
    top: 0;
    left: 28.6%;
}
.vertical4{
    position: absolute;
    background-color: #1F2023;
    width: 100%;
    height: 100%;
    top: 0;
    left: 42.9%;
}
.vertical5{
    position: absolute;
    background-color: #1F2023;
    width: 100%;
    height: 100%;
    top: 0;
    left: 57.2%;
}
.vertical6{
    position: absolute;
    background-color: #1F2023;
    width: 100%;
    height: 100%;
    top: 0;
    left: 71.5%;
}
.vertical7{
    position: absolute;
    background-color: #1F2023;
    width: 100%;
    height: 100%;
    top: 0;
    left: 85.8%;
}
.team-title{
    margin-top: 5.5rem;
    margin-left: 1rem;
}
.team-title h2{
    color: white;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 3rem;
}
.team-row-container{
    width: 100%;
    display: flex;
    margin: auto;
}
.team-col-container{
    display: flex;
    justify-content: center;
}
.team-card-container{
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
    position: relative;
    border: 1px solid #0cf;
    padding: 0;
    overflow: hidden;
    margin-bottom: 3rem;
}
.team-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 0.5rem;
    position: relative;
    transition: all 0.5s ease;
    filter: grayscale(0.5);
}
.team-card-container:hover .team-img{
    transform: scale(1.1);
    filter: grayscale(0);

}
.texto1{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(13, 154, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.texto2{
    margin-left: 0.2rem;
    color: white;
}

.img-linked{
    width: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}






/* ------------------------------------------------------ */
/* ----------------SECTION 6----------------------------- */
/* ------------------------------------------------------ */

.section6{
    width: 100%;
    height: 100vh;
}
.calendly-inline-widget{
    min-width:320px;
    height:630px;
    font-size: 0.5rem;
}


















/* 
.team-card-container{
    border-radius: 0.5rem;
    overflow: hidden;
    object-fit: contain;
}
.team-card-bg{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.team-card{
    background-color: #1F2023;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.profile-img{
    border-radius: 0.5rem 0.5rem 0 0;
}
.team-card h5{
    position: absolute;
    top: 70%;
    left: 0;
    color: white;
    width: 100%;
    margin-left: 0.5rem;

}
.cv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 80%;
    width: 100%;
}
.cv h6{
    margin: 0;
    color: white;
    margin-left: 1rem;
}
.linkedin{
    width: 3rem;
    padding: 0.5rem;
} */
/* -------------------------------------------------------- */
/* ---------------RESPONSIVE CODE------------------------- */
/* -------------------------------------------------------- */

@media (max-width: 1200px){
    .onda{
        width: 50rem;
        top: 20%;
    }
    .main-title{
        font-size: 4rem;
    }
    .second-title-container{
        margin-top: 3.5rem;
    }
    .second-title{
        font-size: 1.5rem;
    }
    .stairs-big-container{
        margin-top: 2.5rem;
    }
}


@media (max-width: 991px){
    .onda{
        width: 40rem;
        right: -35%;
        top: 40%;
    }
    .main-title{
        font-size: 3rem;
        margin-top: 3rem;

    }
    .second-title-container{
        width: 80%;
    }
    .row-services{
        width: 90%;
    }
}




@media (max-width: 768px){
    
    .header-container{
        background-color: rgba(31, 32, 35, 0.5);
    }
    .navbar-container{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }
   
    .logo-container{
        width: 100%;
    }
    .nav-icon-5{
        display: flex;
    }
    .navbar-list{
        position: absolute;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5rem 0 0 0;
        margin-top: 5rem;
        width: 100%;
        overflow-y: auto;
    }
    .navbar-list-links{
        text-align: center;
        height: auto;
    }
    .navbar-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(15px);
        opacity: 0;
    }
    
    .down-container{
        display: flex;
        flex-direction: column;
    }
    .menu-vertical{
        position: unset;
        height: 0;
        padding: 0;
    }

    .onda{
        width: 40rem;
        right: -35%;
        top: 45%;
    }
    .main-title-container{
        width: 100%;
    }
    .main-title{
        width: 100%;
        margin-top: 2rem;
        font-size: 3.2rem;
    }
    .second-title-container{
        margin-top: 1.5rem;
    }
    .second-title{
        font-size: 1.5rem;
    }
    .stairs-big-container{
        display: flex;
        justify-content: flex-start;
    }
    .stairs-flex{
        flex-direction: column;
    }
    .stairs-flex-2{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width: 576px){
    .onda{
        width: 30rem;
        right: -45%;
        top: 250px;
    }
    .navbar-list-links{
        font-size: 2.5rem;
    }
    .main-title{
        font-size: 2.1rem;
    }
    .second-title-container{
        margin-top: 3rem;
    }
    .second-title{
        width: 100%;
        margin: 0;
        font-size: 1.3rem;
    }
    .onda{
        width: 40rem;
        right: -45%;
        top: 55%;
    }
    .stairs-big-container{
        margin-top: 5rem;
    }
}
@media (max-width: 360px){
    .navbar-list-links{
        font-size: 2.5rem;
    }
    .main-title{
        font-size: 2.5rem;
        display: inline;
    }
    .second-title{
        width: 100%;
        margin: 0;
        font-size: 1.3rem;
    }
    .onda{
        width: 40rem;
        right: -45%;
        top: 75%;
    }
    .stairs-big-container{
        margin-top: 4rem;
    }
}








































































































/* .navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.navbar-bg{
   
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    opacity: 0;
}

.navbar-list{
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;  
}


.navbar-list li{
    font-size: 3rem;
    list-style: none;
    margin: 0.5rem;
    font-weight: bolder;
    font-family: poppins;
    z-index: 1;

}
.navbar-list li a{
    font-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


 */


/*********************** MAIN ******************/
/* .main-container{
    padding-top: 6rem;
}




.padding-container{
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}
.main-title{
    color: white;
    width: 100%;
    position: relative;
    height: 100vh;

}
.main-title span{
    font-size: 10rem;
    font-weight: 600;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.bring{
    margin-left: 1.5rem;
    position: absolute;
}
.digital{
    position: absolute;
    top: 28%;
    left: 22%;
}
.solutions{
    position: absolute;
    top: 56%;
    left: 30%;
}
.img-container1{
    position: absolute;
    top: 5%;
    right: -13%;
    object-fit: fill;
    border-radius: 5rem 0 0 5rem;

}
.img-container1 img{
    border-radius: 5rem 0 0 5rem;

}
.main-text{
    width: 20rem;
    font-size: 1.5rem;
    position: absolute;
    color: #B4B0B0;
    bottom: 20%;
    margin-left: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  
}
.dots{
    color: #DAD5D5;
  font-size: 9rem;
}
.patron{
    position: absolute;
    width: 7rem;
    top: 32%;
    left: 5%;
}
.patron img{
    fill: white;
    width: 7rem;

}


.section2{
    height: 100vh;
    width: 100%;
} */